<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {%  if FEED_RSS %}
        <link rel="application/atom+xml" href="{{ SITEURL }}/{{ FEED_RSS }}" rel="alternate" title="{{ SITENAME }} RSS Feed">
    {%  endif %}
    <meta property="fb:admins" content="kecebongsoft"/>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '671178226359270',
                xfbml: true,
                version: 'v2.4'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
        body, p {
            font-family: 'Inconsolata';
            line-height: 150%;
            font-size: 105%;
        }

        a, a:hover, a:visited {
            text-decoration: none;
        }

        @media screen and (min-width: 800px) {
            body {
                width: 35%;
            }
        }
    </style>
</head>
<body>
<div id="fb-root"></div>
<h1><a href="/">Dedy Purwanto</a></h1>
{% block content %}
{% endblock %}
{% include 'analytics.html' %}
<hr />
<small>
    &copy; Dedy Purwanto
    |
    <a href="/archives.html">Archives</a>
</small>
</body>
</html>