{% extends "base.html" %}
{% block content %}

<section id="post">
    <h1 class="section_separator">
        <span></span>
    </h1>
    <article id="post-9337" class="post">

        <h1 class="post_title">Arsip Tulisan</h1>
        <dl style='width:800px;'l>
        {% for article in dates %}
        <dd><a href='{{ article.url }}'>{{ article.title }}</a>&nbsp;&nbsp;<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></dd>
        {% endfor %}
        </dl>



        <span class="post_fleuron symbol">Ð</span>

    </article>

</section>

{% endblock %}
