{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block meta %}

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:description" content="{{ article.summary }}" />
<meta property="og:url" content="{{ article.url }}" />

{% endblock %}
{% block content %}        

<section id="post">
    <h1 class="section_separator">
        <span>{{ article.locale_date }}</span>
    </h1>
    <article id="" class="post">

        <h1 class="post_title">{{ article.title }}</h1>
        {{ article.content }}
        <span class="post_fleuron symbol">Ð</span>

        <div id='comments'></div>

        {% include "new_comments.html" %}

        

    </article>

</section>

{% endblock %}
