{% extends "base.html" %}
{% block title %}{{ super() }} : {{ article.title }}{% endblock %}
{% block content %}        
<header>
    <h1>
        <a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
        <span style='font-size:11px;color:#cfcfcf;'>-</span>
        <a href='/2010/01/about.html' class='site-links'>Tentang saya</a>
        <a href='/archives.html' class='site-links'>Arsip</a>
        <br /> <br /> <br />
        <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
        {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
</header>
<article>
    {{ article.summary }}
    {{ article.content }}
</article>
{% endblock %}
