{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
    {% for article in articles %}        

        {# First item #}
        {% if loop.first %}
            <header>
                <h1>
                    <a href="{{ SITEURL }}" id="site-title">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a>
                    <span style='font-size:11px;color:#cfcfcf;'>-</span>
                    <a href='/2010/01/about.html' class='site-links'>About</a>
                    <a href='/archives.html' class='site-links'>Archive</a>
                    <a href="{{ SITEURL }}/{{ article.url }}" id="page-title">{{ article.title }}</a></h1>
                    {% if not HIDE_DATE %}<time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>{% endif %}
            </header>

            <article>

                {{ article.content }}{% include 'comments.html' %}
            </article>
        {% endif %}
    {% endfor %}
    {% if loop.length > 1 %}
        </section><!-- #article-list -->
    {% endif %}
{% else %}
    Pas d'articles pour le moment.
{% endif %}
{% endblock content %}
